button {
  background-color: rgb(10, 102, 194);
  padding: 5px 25px;
  color: white;
  border: none;
  transition: 300ms;
  border-radius: 15px;
}
.photoInput {
  background-color: rgb(10, 102, 194);
  padding: 5px 25px;
  color: white;
  border: none;
  transition: 300ms;
  border-radius: 15px;
}
.upload {
  cursor: pointer;
}
// .photoInput:hover,
.upload:hover,
button:hover {
  background-color: rgb(64, 150, 255);
}
.photoInput::file-selector-button {
  background-color: rgb(10, 102, 194);
  padding: 5px 25px;
  color: white;
  border: none;
  transition: 300ms;
  border-radius: 10px;
  cursor: pointer;
}
.photoInput::file-selector-button:hover {
  background-color: rgb(64, 150, 255);
}
.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
